a,body, li, ul, header {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
a{
    color: white;
}

#photo {
    background: white;
    /*background-image: url("");*/
    background-repeat: no-repeat;
    width: 905px;
    height: 1280px;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;


}

.header_a {
    text-decoration: none;
    color: rgba(7, 5, 0, 0.79);
}

.header_a:hover {
    font-size: 20px;
    color: #006bb3;
    border-bottom: 1px solid black;

}

h2 {
    position: absolute;
    left: -245px;
    top: 8px;
    color: rgba(0, 0, 0, 0.8);
}

input {
    background: none;
    outline: none;
    border: solid rgba(0, 0, 0, 0.52) 1px;
}

input:hover {
    border: 2px black solid;

}

#header {
    width: 1050px;
    height: 50px;
    /*position: -webkit-sticky;*/
    /*border-bottom: black 0.5px dashed;*/
    position: fixed;
    left: 313px;
    z-index: 1000;


}

/*header:hover{*/
/*    border: 2px solid #4de4ff;*/
/*}*/
#photo1 {
    width: 48px;
    height: 48px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    position: absolute;
    left: -300px;
    top: 10px;
}


#fifth {
    width: 250px;
    height: 45px;
    margin: 30px auto;
    font-size: 14px;
    solid-color: #cccccc;
    position: absolute;
    top: -18px;
    left: 700px;
    border-radius: 10px;


}

li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;


}

#first {
    position: absolute;
    left: 150px;
    top: 20px;
}

#second {
    position: absolute;
    left: 300px;
    top: 20px;

}

#thrid {
    position: absolute;
    left: 450px;
    top: 20px;
}


#forth {
    position: absolute;
    left: 600px;
    top: 20px;
}

#desc {
    position: absolute;
    left: 65px;
    top: 190px;
    font-size: 80px;
}

#kuang1 {
    border: 5px rgba(120, 121, 229, 0.62) dashed;
    background-color: rgba(255, 255, 255, 0.7);
    width: 450px;
    height: 400px;
    position: relative;
    left: 700px;
    top: 150px;
    z-index: 1;


}

.return_top {
    position: fixed;
    left: 1200px;
    top: 550px;

}
#Kuang1_img{
    position: absolute;
    top: 60px;
    right: 50px;
    box-shadow: 5px 24px 74px 13px #888888;
    height: 350px;
    width: 350px;
    z-index: 2;
}

/* From cssbuttons.io */


.btn{
    position: absolute;
    left: 80px;
    top: 530px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    width: 120px;
    height: 40px;
    border:none;
    background-color: rgb(0, 85, 255);

}
/*.btn2{
position: absolute;
    left: 300px;
    top: 530px;
    font-size: 18px;
    color:blue;

    text-decoration: none;
    width: 120px;
    height: 40px;
    border:1px blue solid;
    background-color:white;

}*/
#a_color:hover{
    color:white;
}
#a_color{
    color: blue;
}
.btn2 {
    position: absolute;
    left: 269px;
    top: 530px;
    width: 120px;
    height: 40px;
    border: 1px blue solid;
    border-radius: 2px;
    color: blue;
    z-index: 1;
    background: #e8e8e8;
    font-weight: 500;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 1px;
    background-color:rgb(0, 85, 255);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 350ms;

}

.btn2:hover {
    color: #e8e8e8;
}

.btn2:hover::before {
    width: 100%;
}
span{
    cursor:pointer;
}

